body {background-color: #7c7c7c;}
pre {
	color: #FFFFFF;
	font-family: arial;
	font-size: 13px;
	line-height: 14pt;
}

h1 {
	color: #FFFFFF;
	font-family: arial;
}

a:hover {
	color: #01d3ff;
}

a {
	color: #a2efff;
	font-family: arial;
	font-size: 13px;
	line-height: 14pt;
	text-decoration: none
}
